body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: black;
    background-image: url("../img/bg.png");
    background-color: #fafafa;
    font-size: 16px;
}

#container {
    width: 1170px;
    padding-top:30px;
    margin: auto;
}

#sidebar, #content, header, footer{
    background-color: white;
}

#sidebar {
    width: 22%;
    float: left;
    padding: 0px 0px;
    height: 660px;
    
}
.gach>h3,p{
    padding-left: 20px;
}

.taicv{
    width: auto;
    height: 40px;
    background-color: white;
    padding-left: 35px; 
    
}
.dcv{
    background-color: orangered;
    color: aliceblue;
    font-variant: small-caps;
    border-radius: 15px;
    width: 160px;
    font-size: 10px;
    height: 34px;
    text-align: center;
    border: 1px solid snow;
    
    
}
#sidebar ul{
    
    list-style-type: circle ;
}


#main {
    width: 72%;
    float: right;
    padding: 0px 15px;
}

header, #content, footer {
    margin: 15px 0;
}

header {
    margin-top:0px;
}
#content{
    background-color: white;
    border-radius: 7px;
    font-size: 16px ;

}
#content1{
    height: 350px;
    padding: 0 15px;
}
#content1a{
    padding: 0 15px;
}
#content1b{
    padding: 30px 0px 45px;
    padding-top: 25px;
    margin: 0px;
    
}
#content2{
    background-color: rgb(234, 235, 236);
    height: 300px;

}
#content2b{
    padding: 30px 30px 45px;
    padding-top: 25px;
    margin: 0px;
    
}

#content3{
    height: 350px;
}
#content3a{
    padding: 0 0px;
}
#content3t{
    width: 43%;
    padding: 60px 30px 50px;
    float: left;
    margin: 0px;
}
#content3s{
    width: 42%;

    padding: 60px 30px 50px;
    float: right;
}
#content3>hr{
    border-radius: 3px;
    color: gainsboro;
}

#hr1{
    position: relative;
    top: -13px;
}
#hrgach{
    position: relative;
    top: -38px;
    
}
h2{
    
    font-size: 20px;
}
#gach>hr{
    background-color: rgb(255, 221, 158);
    border: 0px;
}

#main  ul li{
    list-style: none;
    background-color: rgb(83, 78, 78);
    text-align: center;
    /* text-decoration: none; */
}
#main ul li a{
    color: aliceblue;
    text-decoration: none
}
#main li{
    color: black;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
    
}

.box {
    border-radius: 10px 10px;
}

#sidebar .dot{
    display: inline-block;
    border-radius: 50px;
    width: 4px;
    height: 4px;
    position: relative;
    border: 1px solid orange;
    left: -13px;
    background-color: white;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 15px;
}

#sidebar li {
    border-left: 1px solid black;
    padding-left: 10px;
    font-size: 14px;
}
#blog{
    background-color: white;
    border-radius: 10px;
}
#noidungl{
    padding: 15px;
    
}
#noidungn{
    padding: 15px 15px;
}
#tin{
    width: 238px;
    background-color: rgb(252, 252, 252);
    padding: 15px 15px;
    border: 1px solid white;
}

#tieude>img{
    width: 100%;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
}
#tieude{
    background-color: white;
    font-size: 13px;
    border-radius: 10px;
}
#chutin>p{
    color: rgb(141, 138, 138);
}
#chutin{
    padding: 0px 15px 15px;
}
#hang1{
    float: left;
}
#muccuoi{
    padding: 100px 0px 100px;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: black;
    background-image: url("../img/bg.png");
    background-color: #fafafa;
}

#container {
    width: 1170px;
    padding-top:30px;
    margin: auto;
}

#sidebar, #content, header, footer{
    background-color: white;
}

#sidebar {
    width: 22%;
    float: left;
    padding: 0px 0px;
    height: 660px;
    
}
.gach>h3,p{
    padding-left: 20px;
}

.taicv{
    width: auto;
    height: 40px;
    background-color: white;
    padding-left: 35px; 
    
}
.dcv{
    background-color: orangered;
    color: aliceblue;
    font-variant: small-caps;
    border-radius: 15px;
    width: 160px;
    font-size: 10px;
    height: 34px;
    text-align: center;
    border: 1px solid snow;
    
    
}
#sidebar ul{
    
    list-style-type: circle ;
}


#main {
    width: 72%;
    float: right;
    padding: 0px 15px;
}

header, #content, footer {
    margin: 15px 0;
}

header {
    margin-top:0px;
}

.layout{
    width: 100%;
    height: 100px;
}


.chuh>h2{
    width: 30px;
    position: absolute;
    display: block;
    font-size: 20px;
    padding-left: 30px;
}

#main  ul li{
    list-style: none;
    background-color: rgb(83, 78, 78);
    text-align: center;
    /* text-decoration: none; */
}
#main ul li a{
    color: aliceblue;
    text-decoration: none
}
#main li{
    color: black;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
    
}

.box {
    border-radius: 10px 10px;
}

#sidebar .dot{
    display: inline-block;
    border-radius: 50px;
    width: 4px;
    height: 4px;
    position: relative;
    border: 1px solid #121211;
    left: -13px;
    background-color: white;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 15px;
}

#sidebar li {
    border-left: 1px solid black;
    padding-left: 10px;
    font-size: 14px;
}
.layout .net{
    width: 10px;
    height: 7px;
    border-radius: 3px;
    position: absolute;
    top: 132px;
    background-color: #ff5a14;
    left: 510px;
    padding-left: 90px;
}
.content{
    width: 100%;
    border-radius: 6px;
    height: 2000px;
    
}
.left{
    width: 50%;
    background-color: white;
    height: 700px;
    float: left;
    
    line-height: 10px;
    
}
.left>h2{
    padding-top: 40px;
    position: relative;

}
.left>h3,p{
    padding-left: 110px;
    padding-top: 0px;
    
}
.thes{
    padding-left: 110px;
}

.left>p{
    font-size: 11px;
    padding-top: 0px;
    padding-left: 110px;
    color: grey;
}

.left>i{
    width: 53px;
    height: 52px;
    border-radius: 30px ;
    background-color: #ff5a14;
    display: block;
    position: relative;
    top: 50px;
    left: 30px;
}


.right{
    float: left;
    width: 50%;
    background-color: white;
    height: 700px;
    display: block;
    line-height: 10px;
}
.right>h2{
    padding-top: 40px;
    position: relative;
}
.right>h3{
    padding-left: 110px;
    padding-top: 0px;
    
}

.right>p{
    font-size: 10px;
    padding-top: 0px;
    padding-left: 110px;
    color: grey;
}

.right>i{
    width: 53px;
    height: 52px;
    border-radius: 30px ;
    background-color: #ff5a14;
    display: block;
    position: relative;
    top: 50px;
    left: 30px;
}
.left>i>.fa fa-suitcase{
    display:inline-block;
    font-size: 35px;
    background-color: #fafafa;
    position: absolute;
    top: 200px;
}
.cham{
    display: inline-block;
    padding-left: 0px;
    border-radius: 50px;
    width: 7px;
    height: 7px;
    position: absolute;
    right: 10px;
    border: 1px solid orange;
    left: 541px;
    background-color: white;
}
.chamr{
    display: inline-block;
    padding-left: 0px;
    border-radius: 50px;
    width: 7px;
    height: 7px;
    position: absolute;
    border: 1px solid orange;
    right: 550px;
    background-color: white;
}
.left>.thehr{
    width: 3px;
    height: 405px;
    position: absolute;
    left: 544px;
    top: 277px;
    
    background-color: rgb(252, 240, 240);
}
.right>.thehrr{
    
    width: 3px;
    height: 405px;
    position: absolute;
    top: 280px;
    right: 553px;
    background-color: rgb(252, 240, 240);
}
.clin{
    clear: both;
    position: relative;
    width: 844px;
    height: 350px;
    background-color: #fafafa;

}
.gachchan{
    position: absolute;
    top: 30px;
    left: 28px;
    width: 7px;
    height: 7px;
    background-color: #ff5a14;
    border-radius: 3px;
    padding-left: 70px;
}

.chuh2>h2{

    
    position: absolute;
    display: block;
    font-size: 20px;
    padding-left: 30px;
}
.chuh2{
    
}
.hinh1{
    position: absolute;
    top: 80px;
    left: 30px;
    float: left;
    border-radius: 5px;
    padding-left: 95px;
    padding-top: 35px;
    width: 70px;
    height: 60px;
    background-color: white;
    border-radius: 5px;
}
.hinh1>img{
    position: absolute;
    top: 20px;
    left: 26px;
    width: 110px;
    height: 55px;
    
}
.hinh2{
    position: absolute;
    top: 80px;
    left: 235px;
    float: left;
    border-radius: 5px;
    padding-left: 95px;
    padding-top: 35px;
    width: 70px;
    height: 60px;
    background-color: white;
    border-radius: 5px;
}
.hinh2>img{
    position: absolute;
    top: 20px;
    left: 26px;
    width: 110px;
    height: 55px;
    
}
.hinh3{
    position: absolute;
    top: 80px;
    left: 440px;
    float: left;
    border-radius: 5px;
    padding-left: 95px;
    padding-top: 35px;
    width: 70px;
    height: 60px;
    background-color: white;
    border-radius: 5px;
}
.hinh3>img{
    position: absolute;
    top: 20px;
    left: 26px;
    width: 110px;
    height: 55px;
    
}
.hinh4{
    position: absolute;
    top: 80px;
    left: 643px;
    float: left;
    border-radius: 5px;
    padding-left: 95px;
    padding-top: 35px;
    width: 70px;
    height: 60px;
    background-color: white;
    border-radius: 5px;
} 
.hinh4>img{
    position: absolute;
    top: 20px;
    left: 26px;
    width: 110px;
    height: 55px;
}
#contact{
    background-color: white;
    padding: 30px 30px;
    height: 1000px;
    border-radius: 10px;
}
#nutsub{
    background-color: orange;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    
    border: 1px ;
    font-size: 100%;
    
}
#contact1{
    width: 50%;
    float: left;
    height: 400px;
    
}
#name>p{
    padding: 30px 15px;
}
#name{
    width: 40%;
    float: left;
    border: 1px ;
    padding-right: 20px;
}
#name2{
    width: 85%;
    float: left;
    border: 1px ;
    padding-right: 20px;
}
#name2>p{
    padding: 30px 15px;
}
#contact3{
    width: 100%;
    float: left;
    height: 400px;
    
}
#contact3>iframe{
    width: 100%;
}
#gachcontact{
    position: relative;
    top: -10%;
}